* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #222222;
  font-size: 20px;
  color: black;
  height: 100vh;
  font-family: "Open sans", sans-serif;
}

body {
  height: 100vh;
  padding: 5%;
}

h1 {
  font-size: 150%;
  font-weight: 50;
}
.title {
  color: white;
  margin-bottom: 12%;
  font-size: 80%;
}

input {
  width: 75%;
  line-height: 2.5em;
  border-radius: 35px;
  border: none;
  border-left: 7px solid white;
  border-right: 7px solid white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
select {
  width: 75%;
  height: 2.5em;
  border: 7px white solid;
  border-radius: 35px;
}
.container {
  margin-top: 6%;
}
.left-container,
.right-container {
  position: relative;
  float: left;
}
.right-container {
  display: inline-block;
  background: #141414;
  width: 30%;
  height: 100%;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  padding-right: 7%;
  color: gray;
  /* margin-top: 25px; */
}

.right-container p {
  font-size: 60%;
}

.left-container {
  width: 70%;
  height: 100%;
  background: linear-gradient(135deg, #dd5f2e, #de2e54);
  padding: 4% 7% 7% 7%;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.input-container {
  margin-bottom: 3%;
}

.input-container p {
  font-size: 50%;
  margin-bottom: 2%;
}

.convert-button {
  background: #141414;
  width: 75%;
  display: block;
  font-size: 80%;
  line-height: 2em;
  border-radius: 35px;
  text-align: center;
  color: white;
  text-decoration: none;
  margin-top: 10%;
}

.card {
  background: #141414;
  height: 450px;
  width: 680px;
  vertical-align: middle;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 18px 18px -6px black;
}

.check-sign {
  background: linear-gradient(135deg, #de2e54, #dd5f2e);

  visibility: hidden;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 40% auto;
  margin-right: 0;
}
.white-circle {
  position: absolute;
  width: 45%;
  height: 45%;
  border: 3px solid white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.float {
  text-align: right;
}

.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 6px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.initial,
.destination,
.conversion-detail {
  margin-bottom: 10%;
  font-weight: 50;
}

.initial-amount {
  color: #dd5f2e;
}

.final-amount {
  color: #de2e54;
}

.conversion-summary {
  color: #dd5f2e;
}
